{
  "openapi": "3.1.0",
  "info": {
    "title": "KmerHosting Public Platform API",
    "version": "5.0.0",
    "description": "Stable KmerHosting Developer API for API-key integrations and the official KmerHosting SDK. Public catalog operations remain unauthenticated; customer resources require a scoped API key.",
    "contact": {
      "name": "KmerHosting Support",
      "email": "support@kmerhosting.com"
    }
  },
  "servers": [
    {
      "url": "https://kmerhosting.com",
      "description": "Production public platform"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Service discovery and availability checks."
    },
    {
      "name": "Content",
      "description": "Public localized content."
    },
    {
      "name": "Catalog",
      "description": "Localized pricing and offers."
    },
    {
      "name": "Orders",
      "description": "Order creation, lookup, and payment."
    },
    {
      "name": "Invoices",
      "description": "Issued invoice lookup and PDF documents."
    },
    {
      "name": "Domains",
      "description": "Domain operations."
    },
    {
      "name": "Services",
      "description": "Hosting service inventory, credentials, renewals, and auto-renew."
    },
    {
      "name": "Notifications",
      "description": "In-app notifications."
    },
    {
      "name": "KmerHosting AI Agent",
      "description": "KmerHosting AI Agent messages and owned conversations."
    },
    {
      "name": "Pricing downloads",
      "description": "Generated pricing documents."
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "GenericSuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          },
          "message": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "Locale": {
        "type": "string",
        "enum": [
          "en",
          "fr",
          "de",
          "nl",
          "zh",
          "es",
          "pt",
          "hi",
          "ar"
        ]
      }
    },
    "securitySchemes": {
      "developerApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "KmerHosting API Key",
        "description": "Create an API key in Console > Account > API Keys. Use the full key only in trusted server-side environments."
      }
    }
  },
  "paths": {
    "/api/pricing/downloads/{slug}": {
      "get": {
        "tags": [
          "Pricing downloads"
        ],
        "summary": "Download a generated pricing document",
        "description": "Public endpoint. No authenticated user session is required.\n\nUse this pricing downloads endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "get_api_pricing_downloads_slug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "slug identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "An upstream provider returned an invalid response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [],
        "x-kmerhosting-access": "public",
        "x-kmerhosting-project": "public-platform",
        "x-source-route": "/api/pricing/downloads/[slug]"
      }
    },
    "/api/v1/catalog/domain-prices": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List localized domain prices",
        "description": "Public endpoint. No authenticated user session is required.\n\nUse this catalog endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "get_api_v1_catalog_domain_prices",
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [],
        "x-kmerhosting-access": "public",
        "x-kmerhosting-project": "public-platform",
        "x-source-route": "/api/v1/catalog/domain-prices"
      }
    },
    "/api/v1/catalog/offers": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List localized hosting and domain offers",
        "description": "Public endpoint. No authenticated user session is required.\n\nUse this catalog endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "get_api_v1_catalog_offers",
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "description": "locale query parameter.",
            "schema": {
              "$ref": "#/components/schemas/Locale"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [],
        "x-kmerhosting-access": "public",
        "x-kmerhosting-project": "public-platform",
        "x-source-route": "/api/v1/catalog/offers"
      }
    },
    "/api/v1/domains/availability-checks": {
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Check domain availability and localized price",
        "description": "Public endpoint. No authenticated user session is required.\n\nUse this domains endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "post_api_v1_domains_availability_checks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "domain"
                ],
                "properties": {
                  "domain": {
                    "type": "string",
                    "example": "example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [],
        "x-kmerhosting-access": "public",
        "x-kmerhosting-project": "public-platform",
        "x-source-route": "/api/v1/domains/availability-checks"
      }
    },
    "/api/v1/help-center": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Get localized Help Center content",
        "description": "Public endpoint. No authenticated user session is required.\n\nUse this content endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "get_api_v1_help_center",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "lang query parameter.",
            "schema": {
              "$ref": "#/components/schemas/Locale"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [],
        "x-kmerhosting-access": "public",
        "x-kmerhosting-project": "public-platform",
        "x-source-route": "/api/v1/help-center"
      }
    },
    "/api/v1": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Get API version and service status",
        "description": "Public endpoint. No authenticated user session is required.\n\nUse this health endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "get_api_v1",
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [],
        "x-kmerhosting-access": "public",
        "x-kmerhosting-project": "public-platform",
        "x-source-route": "/api/v1"
      },
      "head": {
        "tags": [
          "Health"
        ],
        "summary": "Check API availability without a response body",
        "description": "Public endpoint. No authenticated user session is required.\n\nUse this health endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "head_api_v1",
        "responses": {
          "200": {
            "description": "Request completed successfully."
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [],
        "x-kmerhosting-access": "public",
        "x-kmerhosting-project": "public-platform",
        "x-source-route": "/api/v1"
      }
    },
    "/api/v1/sdk/account": {
      "get": {
        "tags": [
          "Developer API"
        ],
        "summary": "List or get account",
        "description": "Developer endpoint. Send a KmerHosting API key as Authorization: Bearer <key>. Every resource is scoped to the API key owner and protected by explicit scopes and rate limits.\n\nUse this developer api endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "get_api_v1_sdk_account",
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "x-kmerhosting-access": "apiKey",
        "x-kmerhosting-project": "developer-api",
        "x-source-route": "/api/v1/sdk/account"
      }
    },
    "/api/v1/sdk/ai-agent/chat-messages": {
      "post": {
        "tags": [
          "KmerHosting AI Agent"
        ],
        "summary": "Create or process chat messages",
        "description": "Developer endpoint. Send a KmerHosting API key as Authorization: Bearer <key>. Every resource is scoped to the API key owner and protected by explicit scopes and rate limits.\n\nUse this kmerhosting ai agent endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "post_api_v1_sdk_ai_agent_chat_messages",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "model": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "x-kmerhosting-access": "apiKey",
        "x-kmerhosting-project": "developer-api",
        "x-source-route": "/api/v1/sdk/ai-agent/chat-messages"
      }
    },
    "/api/v1/sdk/ai-agent/conversations/{conversationId}": {
      "delete": {
        "tags": [
          "KmerHosting AI Agent"
        ],
        "summary": "Delete conversation Id",
        "description": "Developer endpoint. Send a KmerHosting API key as Authorization: Bearer <key>. Every resource is scoped to the API key owner and protected by explicit scopes and rate limits.\n\nUse this kmerhosting ai agent endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "delete_api_v1_sdk_ai_agent_conversations_conversationId",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "description": "conversation Id identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Request completed successfully with no response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "x-kmerhosting-access": "apiKey",
        "x-kmerhosting-project": "developer-api",
        "x-source-route": "/api/v1/sdk/ai-agent/conversations/[conversationId]"
      }
    },
    "/api/v1/sdk/ai-agent/conversations": {
      "get": {
        "tags": [
          "KmerHosting AI Agent"
        ],
        "summary": "List or get conversations",
        "description": "Developer endpoint. Send a KmerHosting API key as Authorization: Bearer <key>. Every resource is scoped to the API key owner and protected by explicit scopes and rate limits.\n\nUse this kmerhosting ai agent endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "get_api_v1_sdk_ai_agent_conversations",
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "x-kmerhosting-access": "apiKey",
        "x-kmerhosting-project": "developer-api",
        "x-source-route": "/api/v1/sdk/ai-agent/conversations"
      },
      "post": {
        "tags": [
          "KmerHosting AI Agent"
        ],
        "summary": "Create or process conversations",
        "description": "Developer endpoint. Send a KmerHosting API key as Authorization: Bearer <key>. Every resource is scoped to the API key owner and protected by explicit scopes and rate limits.\n\nUse this kmerhosting ai agent endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "post_api_v1_sdk_ai_agent_conversations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "x-kmerhosting-access": "apiKey",
        "x-kmerhosting-project": "developer-api",
        "x-source-route": "/api/v1/sdk/ai-agent/conversations"
      }
    },
    "/api/v1/sdk/domains": {
      "get": {
        "tags": [
          "Developer API"
        ],
        "summary": "List or get domains",
        "description": "Developer endpoint. Send a KmerHosting API key as Authorization: Bearer <key>. Every resource is scoped to the API key owner and protected by explicit scopes and rate limits.\n\nUse this developer api endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "get_api_v1_sdk_domains",
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "x-kmerhosting-access": "apiKey",
        "x-kmerhosting-project": "developer-api",
        "x-source-route": "/api/v1/sdk/domains"
      }
    },
    "/api/v1/sdk/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List or get invoices",
        "description": "Developer endpoint. Send a KmerHosting API key as Authorization: Bearer <key>. Every resource is scoped to the API key owner and protected by explicit scopes and rate limits.\n\nUse this invoices endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "get_api_v1_sdk_invoices",
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "x-kmerhosting-access": "apiKey",
        "x-kmerhosting-project": "developer-api",
        "x-source-route": "/api/v1/sdk/invoices"
      }
    },
    "/api/v1/sdk/notifications/{notificationId}": {
      "delete": {
        "tags": [
          "Notifications"
        ],
        "summary": "Delete notification Id",
        "description": "Developer endpoint. Send a KmerHosting API key as Authorization: Bearer <key>. Every resource is scoped to the API key owner and protected by explicit scopes and rate limits.\n\nUse this notifications endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "delete_api_v1_sdk_notifications_notificationId",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "description": "notification Id identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Request completed successfully with no response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "x-kmerhosting-access": "apiKey",
        "x-kmerhosting-project": "developer-api",
        "x-source-route": "/api/v1/sdk/notifications/[notificationId]"
      },
      "patch": {
        "tags": [
          "Notifications"
        ],
        "summary": "Update notification Id",
        "description": "Developer endpoint. Send a KmerHosting API key as Authorization: Bearer <key>. Every resource is scoped to the API key owner and protected by explicit scopes and rate limits.\n\nUse this notifications endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "patch_api_v1_sdk_notifications_notificationId",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "description": "notification Id identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Request completed successfully with no response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "x-kmerhosting-access": "apiKey",
        "x-kmerhosting-project": "developer-api",
        "x-source-route": "/api/v1/sdk/notifications/[notificationId]"
      }
    },
    "/api/v1/sdk/notifications": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "List or get notifications",
        "description": "Developer endpoint. Send a KmerHosting API key as Authorization: Bearer <key>. Every resource is scoped to the API key owner and protected by explicit scopes and rate limits.\n\nUse this notifications endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "get_api_v1_sdk_notifications",
        "parameters": [
          {
            "name": "unreadOnly",
            "in": "query",
            "required": false,
            "description": "unread Only query parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "x-kmerhosting-access": "apiKey",
        "x-kmerhosting-project": "developer-api",
        "x-source-route": "/api/v1/sdk/notifications"
      }
    },
    "/api/v1/sdk/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List or get orders",
        "description": "Developer endpoint. Send a KmerHosting API key as Authorization: Bearer <key>. Every resource is scoped to the API key owner and protected by explicit scopes and rate limits.\n\nUse this orders endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "get_api_v1_sdk_orders",
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "x-kmerhosting-access": "apiKey",
        "x-kmerhosting-project": "developer-api",
        "x-source-route": "/api/v1/sdk/orders"
      }
    },
    "/api/v1/sdk": {
      "get": {
        "tags": [
          "Developer API"
        ],
        "summary": "List or get sdk",
        "description": "Developer endpoint. Send a KmerHosting API key as Authorization: Bearer <key>. Every resource is scoped to the API key owner and protected by explicit scopes and rate limits.\n\nUse this developer api endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "get_api_v1_sdk",
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "x-kmerhosting-access": "apiKey",
        "x-kmerhosting-project": "developer-api",
        "x-source-route": "/api/v1/sdk"
      }
    },
    "/api/v1/sdk/services/{type}/{serviceId}/auto-renew": {
      "patch": {
        "tags": [
          "Services"
        ],
        "summary": "Update auto renew",
        "description": "Developer endpoint. Send a KmerHosting API key as Authorization: Bearer <key>. Every resource is scoped to the API key owner and protected by explicit scopes and rate limits.\n\nUse this services endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "patch_api_v1_sdk_services_type_serviceId_auto_renew",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "type identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "description": "service Id identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "enabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "x-kmerhosting-access": "apiKey",
        "x-kmerhosting-project": "developer-api",
        "x-source-route": "/api/v1/sdk/services/[type]/[serviceId]/auto-renew"
      }
    },
    "/api/v1/sdk/services/{type}/{serviceId}": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "Get service Id",
        "description": "Developer endpoint. Send a KmerHosting API key as Authorization: Bearer <key>. Every resource is scoped to the API key owner and protected by explicit scopes and rate limits.\n\nUse this services endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "get_api_v1_sdk_services_type_serviceId",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "type identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "description": "service Id identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "x-kmerhosting-access": "apiKey",
        "x-kmerhosting-project": "developer-api",
        "x-source-route": "/api/v1/sdk/services/[type]/[serviceId]"
      }
    },
    "/api/v1/sdk/services": {
      "get": {
        "tags": [
          "Developer API"
        ],
        "summary": "List or get services",
        "description": "Developer endpoint. Send a KmerHosting API key as Authorization: Bearer <key>. Every resource is scoped to the API key owner and protected by explicit scopes and rate limits.\n\nUse this developer api endpoint for the operation described in the summary. The server validates authorization, ownership, and input before accessing MySQL or external providers.",
        "operationId": "get_api_v1_sdk_services",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "type query parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "status query parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccessResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "x-kmerhosting-access": "apiKey",
        "x-kmerhosting-project": "developer-api",
        "x-source-route": "/api/v1/sdk/services"
      }
    }
  },
  "x-kmerhosting-project": "public-platform",
  "x-kmerhosting-generated-at": "2026-07-12T03:10:32.584Z"
}
