{
  "openapi": "3.1.0",
  "info": {
    "title": "KmerHosting API",
    "version": "v1",
    "description": "Canonical OpenAPI contract for the KmerHosting platform. All supported public endpoints use the /api/v1 namespace."
  },
  "servers": [
    {
      "url": "https://kmerhosting.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development server"
    }
  ],
  "tags": [
    {
      "name": "AI"
    },
    {
      "name": "API Keys"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Billing"
    },
    {
      "name": "Cart"
    },
    {
      "name": "Catalog"
    },
    {
      "name": "Content"
    },
    {
      "name": "Domains"
    },
    {
      "name": "Invoices"
    },
    {
      "name": "KYC"
    },
    {
      "name": "Legal"
    },
    {
      "name": "Newsletter"
    },
    {
      "name": "Notifications"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Services"
    },
    {
      "name": "Storage"
    },
    {
      "name": "Trials"
    },
    {
      "name": "Users"
    }
  ],
  "components": {
    "securitySchemes": {
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "authjs.session-token"
      }
    }
  },
  "paths": {
    "/api/v1/content/hero": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Get localized hero content",
        "description": "Canonical GET /api/v1/content/hero operation.",
        "operationId": "get__api_v1_content_hero",
        "parameters": [
          {
            "name": "lang",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr"
              ]
            },
            "description": "Language code.",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": []
      }
    },
    "/api/v1/catalog/trending-services": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List trending services",
        "description": "Canonical GET /api/v1/catalog/trending-services operation.",
        "operationId": "get__api_v1_catalog_trending_services",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": []
      }
    },
    "/api/v1/catalog/offers": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List checkout catalog offers",
        "description": "Canonical GET /api/v1/catalog/offers operation.",
        "operationId": "get__api_v1_catalog_offers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": []
      }
    },
    "/api/v1/newsletter/subscriptions": {
      "post": {
        "tags": [
          "Newsletter"
        ],
        "summary": "Create a newsletter subscription",
        "description": "Canonical POST /api/v1/newsletter/subscriptions operation.",
        "operationId": "post__api_v1_newsletter_subscriptions",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/newsletter/subscriptions/verify": {
      "post": {
        "tags": [
          "Newsletter"
        ],
        "summary": "Verify a newsletter subscription",
        "description": "Canonical POST /api/v1/newsletter/subscriptions/verify operation.",
        "operationId": "post__api_v1_newsletter_subscriptions_verify",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/trial-requests": {
      "post": {
        "tags": [
          "Trials"
        ],
        "summary": "Submit a trial request",
        "description": "Canonical POST /api/v1/trial-requests operation.",
        "operationId": "post__api_v1_trial_requests",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/ai/chat-messages": {
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "Send a chat prompt to the AI assistant",
        "description": "Canonical POST /api/v1/ai/chat-messages operation.",
        "operationId": "post__api_v1_ai_chat_messages",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/ai/conversations": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "List saved AI conversations",
        "description": "Canonical GET /api/v1/ai/conversations operation.",
        "operationId": "get__api_v1_ai_conversations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "Save an AI conversation",
        "description": "Canonical POST /api/v1/ai/conversations operation.",
        "operationId": "post__api_v1_ai_conversations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/domains/availability-checks": {
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Check whether a domain is available",
        "description": "Canonical POST /api/v1/domains/availability-checks operation.",
        "operationId": "post__api_v1_domains_availability_checks",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/domains/purchases": {
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Purchase a domain",
        "description": "Canonical POST /api/v1/domains/purchases operation.",
        "operationId": "post__api_v1_domains_purchases",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/billing/credit-balance": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get the current user credit balance",
        "description": "Canonical GET /api/v1/users/me/billing/credit-balance operation.",
        "operationId": "get__api_v1_users_me_billing_credit_balance",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/billing/credit-top-ups": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Get manual credit top-up instructions",
        "description": "Canonical POST /api/v1/billing/credit-top-ups operation.",
        "operationId": "post__api_v1_billing_credit_top_ups",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/orders": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create an order from checkout data",
        "description": "Canonical POST /api/v1/orders operation.",
        "operationId": "post__api_v1_orders",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/orders/{orderId}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order details",
        "description": "Canonical GET /api/v1/orders/[orderId] operation.",
        "operationId": "get__api_v1_orders_orderId_",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "orderId path parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/orders/{orderId}/payments": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Pay an order with account credit",
        "description": "Canonical POST /api/v1/orders/[orderId]/payments operation.",
        "operationId": "post__api_v1_orders_orderId_payments",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "orderId path parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List invoices",
        "description": "Canonical GET /api/v1/invoices operation.",
        "operationId": "get__api_v1_invoices",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Create an invoice",
        "description": "Canonical POST /api/v1/invoices operation.",
        "operationId": "post__api_v1_invoices",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/invoices/{invoiceId}/document": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Download an invoice PDF",
        "description": "Canonical GET /api/v1/invoices/[invoiceId]/document operation.",
        "operationId": "get__api_v1_invoices_invoiceId_document",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "invoiceId path parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful file response.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/notifications": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "List notifications",
        "description": "Canonical GET /api/v1/notifications operation.",
        "operationId": "get__api_v1_notifications",
        "parameters": [
          {
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size.",
            "in": "query"
          },
          {
            "name": "skip",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Offset for pagination.",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Create a notification",
        "description": "Canonical POST /api/v1/notifications operation.",
        "operationId": "post__api_v1_notifications",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/notifications/unread-summary": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Get unread notification summary",
        "description": "Canonical GET /api/v1/notifications/unread-summary operation.",
        "operationId": "get__api_v1_notifications_unread_summary",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/notifications/{notificationId}": {
      "patch": {
        "tags": [
          "Notifications"
        ],
        "summary": "Mark a notification as read",
        "description": "Canonical PATCH /api/v1/notifications/[notificationId] operation.",
        "operationId": "patch__api_v1_notifications_notificationId_",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "notificationId path parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/session": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get the current authenticated session",
        "description": "Canonical GET /api/v1/auth/session operation.",
        "operationId": "get__api_v1_auth_session",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/auth/register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register a new account",
        "description": "Canonical POST /api/v1/auth/register operation.",
        "operationId": "post__api_v1_auth_register",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/password/forgot": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Start the password reset flow",
        "description": "Canonical POST /api/v1/auth/password/forgot operation.",
        "operationId": "post__api_v1_auth_password_forgot",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/password/reset": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Complete the password reset flow",
        "description": "Canonical POST /api/v1/auth/password/reset operation.",
        "operationId": "post__api_v1_auth_password_reset",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/email-verifications": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify an email token",
        "description": "Canonical POST /api/v1/auth/email-verifications operation.",
        "operationId": "post__api_v1_auth_email_verifications",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/profile": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get the current user profile",
        "description": "Canonical GET /api/v1/users/me/profile operation.",
        "operationId": "get__api_v1_users_me_profile",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update the current user profile",
        "description": "Canonical PUT /api/v1/users/me/profile operation.",
        "operationId": "put__api_v1_users_me_profile",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/settings": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get the current user settings",
        "description": "Canonical GET /api/v1/users/me/settings operation.",
        "operationId": "get__api_v1_users_me_settings",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Update the current user settings",
        "description": "Canonical PATCH /api/v1/users/me/settings operation.",
        "operationId": "patch__api_v1_users_me_settings",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/account-status": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get account status",
        "description": "Canonical GET /api/v1/users/me/account-status operation.",
        "operationId": "get__api_v1_users_me_account_status",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/users/me/api-keys": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "List API keys",
        "description": "Canonical GET /api/v1/users/me/api-keys operation.",
        "operationId": "get__api_v1_users_me_api_keys",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Create an API key",
        "description": "Canonical POST /api/v1/users/me/api-keys operation.",
        "operationId": "post__api_v1_users_me_api_keys",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/api-keys/{keyId}": {
      "patch": {
        "tags": [
          "API Keys"
        ],
        "summary": "Update an API key",
        "description": "Canonical PATCH /api/v1/users/me/api-keys/[keyId] operation.",
        "operationId": "patch__api_v1_users_me_api_keys_keyId_",
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "keyId path parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "API Keys"
        ],
        "summary": "Delete an API key",
        "description": "Canonical DELETE /api/v1/users/me/api-keys/[keyId] operation.",
        "operationId": "delete__api_v1_users_me_api_keys_keyId_",
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "keyId path parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/users/me/avatar": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get avatar metadata",
        "description": "Canonical GET /api/v1/users/me/avatar operation.",
        "operationId": "get__api_v1_users_me_avatar",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Upload an avatar",
        "description": "Canonical POST /api/v1/users/me/avatar operation.",
        "operationId": "post__api_v1_users_me_avatar",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete the current avatar",
        "description": "Canonical DELETE /api/v1/users/me/avatar operation.",
        "operationId": "delete__api_v1_users_me_avatar",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/users/me/avatar/files/{filename}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Fetch an avatar file",
        "description": "Canonical GET /api/v1/users/me/avatar/files/[filename] operation.",
        "operationId": "get__api_v1_users_me_avatar_files_filename_",
        "parameters": [
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "filename path parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/users/me/kyc-submissions": {
      "get": {
        "tags": [
          "KYC"
        ],
        "summary": "Get KYC verification details",
        "description": "Canonical GET /api/v1/users/me/kyc-submissions operation.",
        "operationId": "get__api_v1_users_me_kyc_submissions",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "KYC"
        ],
        "summary": "Submit KYC verification data",
        "description": "Canonical POST /api/v1/users/me/kyc-submissions operation.",
        "operationId": "post__api_v1_users_me_kyc_submissions",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/kyc-files": {
      "get": {
        "tags": [
          "KYC"
        ],
        "summary": "Fetch a KYC file",
        "description": "Canonical GET /api/v1/users/me/kyc-files operation.",
        "operationId": "get__api_v1_users_me_kyc_files",
        "parameters": [
          {
            "name": "fileId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "KYC file identifier.",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/users/me/billing/incoming-invoices": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List incoming invoices",
        "description": "Canonical GET /api/v1/users/me/billing/incoming-invoices operation.",
        "operationId": "get__api_v1_users_me_billing_incoming_invoices",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/users/me/services/active-summary": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "Get active service counts",
        "description": "Canonical GET /api/v1/users/me/services/active-summary operation.",
        "operationId": "get__api_v1_users_me_services_active_summary",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/users/me/services/active": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "List active services",
        "description": "Canonical GET /api/v1/users/me/services/active operation.",
        "operationId": "get__api_v1_users_me_services_active",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/users/me/services/pending-summary": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "Get pending service counts",
        "description": "Canonical GET /api/v1/users/me/services/pending-summary operation.",
        "operationId": "get__api_v1_users_me_services_pending_summary",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/users/me/services/pending": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "List pending services",
        "description": "Canonical GET /api/v1/users/me/services/pending operation.",
        "operationId": "get__api_v1_users_me_services_pending",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/users/me/orders/pending-summary": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get pending order counts",
        "description": "Canonical GET /api/v1/users/me/orders/pending-summary operation.",
        "operationId": "get__api_v1_users_me_orders_pending_summary",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/users/me/orders/pending": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List pending orders",
        "description": "Canonical GET /api/v1/users/me/orders/pending operation.",
        "operationId": "get__api_v1_users_me_orders_pending",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/users/me/services/renewals": {
      "post": {
        "tags": [
          "Services"
        ],
        "summary": "Renew a service immediately",
        "description": "Canonical POST /api/v1/users/me/services/renewals operation.",
        "operationId": "post__api_v1_users_me_services_renewals",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/services/auto-renewals": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "Inspect auto-renew configuration",
        "description": "Canonical GET /api/v1/users/me/services/auto-renewals operation.",
        "operationId": "get__api_v1_users_me_services_auto_renewals",
        "parameters": [
          {
            "name": "serviceId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Service identifier.",
            "in": "query"
          },
          {
            "name": "serviceType",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Service type.",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Services"
        ],
        "summary": "Update auto-renew configuration",
        "description": "Canonical PATCH /api/v1/users/me/services/auto-renewals operation.",
        "operationId": "patch__api_v1_users_me_services_auto_renewals",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/services/shared-hosting": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "List Shared hosting services",
        "description": "Canonical GET /api/v1/users/me/services/shared-hosting operation.",
        "operationId": "get__api_v1_users_me_services_shared_hosting",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/users/me/services/custom-hosting": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "List custom hosting services",
        "description": "Canonical GET /api/v1/users/me/services/custom-hosting operation.",
        "operationId": "get__api_v1_users_me_services_custom_hosting",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/users/me/services/shared-hosting/server-settings": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "Get Shared hosting server settings",
        "description": "Canonical GET /api/v1/users/me/services/shared-hosting/server-settings operation.",
        "operationId": "get__api_v1_users_me_services_shared_hosting_server_settings",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/users/me/services/vps-servers": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "List VPS services",
        "description": "Canonical GET /api/v1/users/me/services/vps-servers operation.",
        "operationId": "get__api_v1_users_me_services_vps_servers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/users/me/domains/standalone": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "List standalone domains",
        "description": "Canonical GET /api/v1/users/me/domains/standalone operation.",
        "operationId": "get__api_v1_users_me_domains_standalone",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/users/me/domains/standalone/{domainId}": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get a standalone domain",
        "description": "Canonical GET /api/v1/users/me/domains/standalone/[domainId] operation.",
        "operationId": "get__api_v1_users_me_domains_standalone_domainId_",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "domainId path parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Domains"
        ],
        "summary": "Update a standalone domain",
        "description": "Canonical PATCH /api/v1/users/me/domains/standalone/[domainId] operation.",
        "operationId": "patch__api_v1_users_me_domains_standalone_domainId_",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "domainId path parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/domains/standalone/{domainId}/dns-records": {
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Create a standalone domain DNS record",
        "description": "Canonical POST /api/v1/users/me/domains/standalone/[domainId]/dns-records operation.",
        "operationId": "post__api_v1_users_me_domains_standalone_domainId_dns_records",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "domainId path parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Domains"
        ],
        "summary": "Delete a standalone domain DNS record",
        "description": "Canonical DELETE /api/v1/users/me/domains/standalone/[domainId]/dns-records operation.",
        "operationId": "delete__api_v1_users_me_domains_standalone_domainId_dns_records",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "domainId path parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/users/me/domains/standalone/{domainId}/renewals": {
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Renew a standalone domain",
        "description": "Canonical POST /api/v1/users/me/domains/standalone/[domainId]/renewals operation.",
        "operationId": "post__api_v1_users_me_domains_standalone_domainId_renewals",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "domainId path parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/domains/included": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "List included domains",
        "description": "Canonical GET /api/v1/users/me/domains/included operation.",
        "operationId": "get__api_v1_users_me_domains_included",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/users/me/domains/included/{domainId}": {
      "patch": {
        "tags": [
          "Domains"
        ],
        "summary": "Update an included domain",
        "description": "Canonical PATCH /api/v1/users/me/domains/included/[domainId] operation.",
        "operationId": "patch__api_v1_users_me_domains_included_domainId_",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "domainId path parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authentication required."
          },
          "500": {
            "description": "Server error."
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/domains/included/{domainId}/dns-records": {
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Create an included domain DNS record",
        "description": "Canonical POST /api/v1/users/me/domains/included/[domainId]/dns-records operation.",
        "operationId": "post__api_v1_users_me_domains_included_domainId_dns_records",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "domainId path parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
[...]
